{% extends 'app/base.html' %} {% load static %} 
{% block title %}Product{%endblock %}
 {% block css_url %}
<link rel="stylesheet" href="{% static 'app/css/product.css' %}" />
{% endblock %} {% block hero %}{% endblock hero %} {% block container %}
<div class="p-main-container">
  <div class="main-heading">
    <h1>Product <span class="all">All</span></h1>
  </div>

  <div class="p-inner-container">
    
 <div class="shop-container">
    <aside class="filter-sidebar">
        <h3 class="sidebar-title">Filters</h3>
        <form method="POST" action="#">
          {% csrf_token %}
            
            <div class="filter-group">
                <label>Price Range</label>
                <div class="price-inputs">
                    <input type="number" name="min_price" placeholder="Min" value="{{ request.GET.min_price }}">
                    <input type="number" name="max_price" placeholder="Max" value="{{ request.GET.max_price }}">
                </div>
            </div>

            <div class="filter-group">
                <label>Furniture Category</label>
                <select name="category">
                    <option value="">All Categories</option>
                    {% for cat in categories %}
                        <option value="{{ cat.id }}">
                            {{ cat.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="filter-group">
                <label>Sort By</label>
                <select name="sort">
                    <option value="">Default Sorting</option>
                    <option value="low_to_high">Price: Low to High</option>
                    <option value="high_to_low">Price: High to Low</option>
                    {% comment %} <option value="newest">Newest Arrivals</option> {% endcomment %}
                </select>
            </div>

            <button type="submit" class="btn-apply">Apply Filters</button>
            <a href="#" class="btn-clear">Clear All</a>
        </form>
    </aside>

    
</div>


    

    <div class="product-container">
      {% for product in products %}
      <a href="{% url 'product_detail' product.id %}" class="card-link">
        <div class="cartvalue">
          <img src="{{ product.image.url }}" alt="{{ product.name }}" />
          <p class="brand_name">{{ product.name }}</p>

          <div class="price-container">
            <span class="main-price">₹{{product.price}}</span>
            <span class="delte-mony">₹{{ product.double_price }}</span>

            <div class="total-stocks">
              {% if product.stock > 0 %}
              <p class="stock-in">
                Stock: {{ product.stock }}
                <span class="stock_yes">Available</span>
              </p>
              {% else %}
              <p class="stock-out">Out of Stock</p>
              {% endif %}
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>


  </div>
{% comment %} 
  <div class="pagination-wrapper">
    <div class="pagination">
      <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1" class="page-btn">&laquo; First</a>
        <a href="?page={{ page_obj.previous_page_number }}" class="page-btn"
          >Previous</a
        >
        {% endif %}

        <span class="current-info">
          Page <strong>{{ page_obj.number }}</strong> of {{page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="page-btn"
          >Next</a
        >
        <a href="?page={{ page_obj.paginator.num_pages }}" class="page-btn"
          >Last &raquo;</a
        >
        {% endif %}
      </span>
    </div>
  </div> {% endcomment %}
</div>
{% endblock container %}
