.main-section {
    background-color: white;
    display: flex;
    flex-direction: column;

}

.slider-main-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.slider img {
    width: 100vw;
    height: 550px;
    object-position: center;
    flex-shrink: 0;
}
.back,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.back {
    left: 10px;
}

.next {
    right: 10px;
}


.section-welcome {
    text-align: center;
    margin-top: 2rem;
    padding: 4rem 4rem;
    background-color: white;
    box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.1);
    margin-left: 4rem;
    margin-right: 4rem;
    position: relative;
    top: -5rem;
}

.welcome_para {
    font-size: 18px;
    line-height: 1.8;
    color: #475569;
    font-weight: 400;
    text-align: justify;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
}

.section-welcome h2 {
    font-size: 2.5rem;
    color: rgb(97, 97, 243);
    margin-bottom: 1rem;
}